Repository samscarrow/story-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @engine-team, @orchestrator-team, @templates-team, @qa-team

ci: make lint non-blocking and scope Ruff/Black to src+tests; add test compat in recursive_simulation_engine
  .github/workflows/ci.yml
  db/apply_schema.py
  db/sync_providers_models.py
  src/story_engine/core/core/orchestration/recursive_simulation_engine.py
Owners: none

chore(ruff): exclude non-critical dirs; per-file ignores for E501/E402; fix F821/F841/E402 in src; CI remains tests-gated
  pyproject.toml
  src/story_engine/core/core/character_engine/character_simulation_engine_v2.py
  src/story_engine/core/core/character_engine/complex_group_dynamics.py
  src/story_engine/core/core/character_engine/multi_character_simulation.py
  src/story_engine/core/core/orchestration/autonomous_persona_agents.py
  src/story_engine/core/core/orchestration/llm_orchestrator.py
  src/story_engine/core/core/orchestration/standardized_llm_interface.py
  src/story_engine/core/core/storage/__init__.py
Owners: none

chore(issues): add LINT/CI tickets to agents/tickets.yml; fix bootstrap workflow inputs and labels; default project_url set
  .github/workflows/bootstrap_poml_overhaul.yml
  agents/tickets.yml
Owners: none

Update .github/workflows/bootstrap_poml_overhaul.yml
  .github/workflows/bootstrap_poml_overhaul.yml
Owners: none

tests: use VENV_PATH or sys.executable for demo runner; avoid hardcoded .venv path in CI
  tests/test_demo_runner.py
Owners: @qa-team

tests(lint): remove unused vars; wrap long condition to satisfy E501
  tests/test_breaking_points_simplified.py
  tests/test_output_authenticity_audit.py
Owners: @qa-team

chore(tickets): apply review suggestions — expand LINT-01 scope to (E402,E501) size:M; reassign LINT-04 to tooling_engineer
  agents/tickets.yml
Owners: none

Update tests/test_demo_runner.py
  tests/test_demo_runner.py
Owners: @qa-team

Update tests/test_demo_runner.py
  tests/test_demo_runner.py
Owners: @qa-team

Update .github/workflows/bootstrap_poml_overhaul.yml
  .github/workflows/bootstrap_poml_overhaul.yml
Owners: none

tests(no-extraneous-fstrings): remove unnecessary f-strings and clean sensory prompt; fix offenders in narrative_pipeline and LMStudio feedback script
  feedback/archive/get_lmstudio_feedback.py
  src/story_engine/core/core/story_engine/narrative_pipeline.py
Owners: none

ci(ruff): fix lint errors across src/tests; enable targeted E501 ignores for tests and poml lib; resolve syntax/import-order issues; rewrap long lines. Fixes CI 'lint-format' job failure
  pyproject.toml
  src/story_engine/core/core/messaging/rabbitmq.py
  src/story_engine/core/core/orchestration/unified_llm_orchestrator.py
  src/story_engine/core/core/story_engine/iterative_story_system.py
  src/story_engine/core/core/story_engine/narrative_graph.py
  src/story_engine/core/core/story_engine/narrative_pipeline.py
  src/story_engine/core/core/story_engine/scene_bank.py
  src/story_engine/core/core/story_engine/story_engine_orchestrated.py
  src/story_engine/poml/cli.py
  src/story_engine/poml/poml/integration/character_simulation_poml.py
  src/story_engine/poml/poml/integration/llm_orchestrator_poml.py
  tests/test_autonomous_agent_breaking_points.py
  tests/test_breaking_points_simplified.py
  tests/test_no_extraneous_fstrings.py
  tests/test_output_authenticity_audit.py
Owners: @orchestrator-team, @qa-team

test: remove unused glob call in audit_template_generation_validity
  tests/test_output_authenticity_audit.py
Owners: @qa-team

Update tests/test_breaking_points_simplified.py
  tests/test_breaking_points_simplified.py
Owners: @qa-team

Update tests/test_breaking_points_simplified.py
  tests/test_breaking_points_simplified.py
Owners: @qa-team

Update tests/test_no_extraneous_fstrings.py
  tests/test_no_extraneous_fstrings.py
Owners: @qa-team

pkg: add __init__.py to src/story_engine/core/core to stabilize imports for services (Message/SCENE_DONE usage)
  src/story_engine/core/core/__init__.py
Owners: none

services: harden imports and add safe fallbacks for Message and topic constants (SCENE_DONE etc.) to avoid CI NameError in constrained envs
  src/services/dialogue_worker/__main__.py
  src/services/evaluation_worker/__main__.py
  src/services/plot_worker/__main__.py
  src/services/scene_worker/__main__.py
Owners: none

scene_worker: use explicit string topic constants and simplify description; avoid import/NameError in CI; wrap long line
  src/services/scene_worker/__main__.py
Owners: none

style: run Black to satisfy formatter (2 files reformatted)
  src/story_engine/core/core/__init__.py
  tests/test_breaking_points_simplified.py
Owners: @qa-team

ci(tailscale): enable Live (slow) tests to reach ai-lb via Tailscale; point config to pc-sam.dory-phrygian.ts.net:8000 and add connectivity check
  .github/workflows/tests.yml
Owners: none

db/oracle: add fast health probe and health-aware settings fallback; tests: gate Oracle tests behind opt-in probe; docs: add oracle test gating guidance
  docs/oracle/test_gating.md
  src/story_engine/core/core/common/settings.py
  src/story_engine/core/core/storage/database.py
  tests/test_oracle_health_stub.py
  tests/test_oracle_healthcheck_integration.py
Owners: @qa-team

cli: add primary 'story' CLI with run/db/config; docs: add CLI quickstart
  docs/cli.md
  pyproject.toml
  src/story_engine/cli.py
Owners: none

config: default LM endpoint to localhost; gate env aliases
  src/story_engine/core/core/common/config.py
  src/story_engine/core/core/orchestration/orchestrator_loader.py
  tasks/todo.md
  tests/e2e/test_acceptance_live.py
  tests/test_output_authenticity_audit.py
Owners: @qa-team

feat: add environment-aware storyctl
  docs/cli.md
  docs/storyctl.md
  pyproject.toml
  src/story_engine/tooling/__init__.py
  src/story_engine/tooling/environments/base.yaml
  src/story_engine/tooling/environments/local.yaml
  src/story_engine/tooling/environments/production.yaml
  src/story_engine/tooling/environments/staging.yaml
  src/story_engine/tooling/storyctl/__init__.py
  src/story_engine/tooling/storyctl/checks.py
  src/story_engine/tooling/storyctl/cli.py
  src/story_engine/tooling/storyctl/config.py
  tasks/todo.md
  tests/test_storyctl_config.py
  uv.lock
Owners: @qa-team

feat: add environment-aware storyctl
  docs/cli.md
  docs/storyctl.md
  pyproject.toml
  src/story_engine/tooling/__init__.py
  src/story_engine/tooling/environments/base.yaml
  src/story_engine/tooling/environments/local.yaml
  src/story_engine/tooling/environments/production.yaml
  src/story_engine/tooling/environments/staging.yaml
  src/story_engine/tooling/storyctl/__init__.py
  src/story_engine/tooling/storyctl/checks.py
  src/story_engine/tooling/storyctl/cli.py
  src/story_engine/tooling/storyctl/config.py
  tasks/todo.md
  tests/test_storyctl_cli.py
  tests/test_storyctl_config.py
  uv.lock
Owners: @qa-team

ci: install llm-observability-suite via submodule; checkout submodules in CI; remove git URL dep; fix timing imports
  .github/workflows/ci.yml
  .github/workflows/tests.yml
  .github/workflows/unit.yml
  tasks/todo.md
Owners: none

ci: checkout submodules + install external/llm-observability-suite in e2e and oracle workflows
  .github/workflows/e2e.yml
  .github/workflows/e2e_acceptance.yml
  .github/workflows/oracle_healthcheck.yml
  tasks/todo.md
Owners: none

ci: restrict default test jobs to exclude acceptance (no LMStudio connection required)
  .github/workflows/ci.yml
  .github/workflows/tests.yml
  tasks/todo.md
Owners: none

ci: add pytest-asyncio to unit/tests/ci jobs; fix async test failures
  .github/workflows/ci.yml
  .github/workflows/tests.yml
  .github/workflows/unit.yml
  tasks/todo.md
Owners: none

ci: disable live/e2e/oracle workflows on PRs; keep workflow_dispatch only
  .github/workflows/orchestrator.yml
  tasks/todo.md
Owners: none

feat(storyctl): add models and status commands; ci: add release workflow to publish on tags
  .github/workflows/release.yml
  src/story_engine/tooling/storyctl/cli.py
  tasks/todo.md
Owners: none

ci(release): ensure setuptools/wheel present; build with --no-isolation
  .github/workflows/release.yml
  tasks/todo.md
Owners: none

nit: clarify logging comment per review (use 'application initialization' wording)
  src/story_engine/core/core/character_engine/character_simulation_engine_v2.py
  tasks/todo.md
Owners: none

address review: fix Makefile targets; import ErrorCodes; Dockerfile install submodule; remove test comments; trim trailing whitespace
  Dockerfile
  Makefile
  src/story_engine/core/core/engine/orchestrator.py
  src/story_engine/poml/poml/lib/poml_integration.py
  tasks/todo.md
  tests/test_demo_runner.py
  tests/test_poml_cli_smoke.py
  tests/test_poml_goldens_cli.py
Owners: @engine-team, @qa-team

ci: tame lint scope (src only); exclude external/tests from ruff; run Tailscale only on push to main
  .github/workflows/ci.yml
  .github/workflows/tailscale.yml
  pyproject.toml
  tasks/todo.md
Owners: none

Update tests/test_output_authenticity_audit.py
  tests/test_output_authenticity_audit.py
Owners: @qa-team

Update src/story_engine/core/core/character_engine/character_simulation_engine_v2.py
  src/story_engine/core/core/character_engine/character_simulation_engine_v2.py
Owners: none

Update scripts/sync_lmstudio_omnibus_env.py
  scripts/sync_lmstudio_omnibus_env.py
Owners: none

Update src/story_engine/core/core/character_engine/character_simulation_engine_v2.py
  src/story_engine/core/core/character_engine/character_simulation_engine_v2.py
Owners: none

.github/CODEOWNERS:

# Code owners for auto-review routing

# Engine and POML integration
/src/story_engine/poml/poml/lib/* @engine-team
/src/story_engine/poml/poml/integration/* @orchestrator-team

# Templates
/src/story_engine/poml/poml/templates/** @templates-team

# Tests
/tests/** @qa-team
