Repository samscarrow/story-engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @engine-team, @orchestrator-team, @templates-team, @qa-team

Update src/story_engine/core/core/orchestration/llm_orchestrator.py
  src/story_engine/core/core/orchestration/llm_orchestrator.py
Owners: none

Update tests/test_poml_cli_smoke.py
  tests/test_poml_cli_smoke.py
Owners: @qa-team

Update src/story_engine/core/core/orchestration/llm_orchestrator.py
  src/story_engine/core/core/orchestration/llm_orchestrator.py
Owners: none

Update tests/test_demo_runner.py
  tests/test_demo_runner.py
Owners: @qa-team

Update src/story_engine/core/core/storage/database.py
  src/story_engine/core/core/storage/database.py
Owners: none

Update src/story_engine/core/core/orchestration/llm_orchestrator.py
  src/story_engine/core/core/orchestration/llm_orchestrator.py
Owners: none

Update src/story_engine/core/core/orchestration/llm_orchestrator.py
  src/story_engine/core/core/orchestration/llm_orchestrator.py
Owners: none

Update src/story_engine/core/core/storage/database.py
  src/story_engine/core/core/storage/database.py
Owners: none

CI: install package deps properly; add postgres extra
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  .github/workflows/e2e_acceptance.yml
  .github/workflows/tests.yml
  .github/workflows/unit.yml
  pyproject.toml
  src/services/dialogue_worker/__main__.py
  src/services/evaluation_worker/__main__.py
  src/services/plot_worker/__main__.py
  src/services/scene_worker/__main__.py
  src/services/story_initializer/__main__.py
  src/story_engine.egg-info/PKG-INFO
  src/story_engine.egg-info/requires.txt
  src/story_engine/cli.py
  src/story_engine/core/core/character_engine/character_simulation_engine_v2.py
  src/story_engine/core/core/common/result_store.py
  src/story_engine/core/core/engine/adapters.py
  src/story_engine/core/core/engine/ai_adapter.py
  src/story_engine/core/core/engine/determinism.py
  src/story_engine/core/core/engine/orchestrator.py
  src/story_engine/core/core/engine/repos.py
  src/story_engine/core/core/messaging/interface.py
  src/story_engine/core/core/messaging/rabbitmq.py
  src/story_engine/core/core/orchestration/autonomous_persona_agents.py
  src/story_engine/core/core/orchestration/llm_orchestrator.py
  src/story_engine/core/core/orchestration/recursive_simulation_engine.py
  src/story_engine/core/core/orchestration/standardized_llm_interface.py
  src/story_engine/core/core/storage/database.py
  src/story_engine/core/core/story_engine/hpq_pipeline.py
  src/story_engine/tooling/storyctl/cli.py
  tasks/todo.md
Owners: none

docs: add PR-REVIEW-RESOLUTIONS.md mapping themes to fixes; request reviewers mark threads resolved
  PR-REVIEW-RESOLUTIONS.md
  tasks/todo.md
Owners: none

ci: enable package install on Python 3.13 (oracledb supports 3.13)
  .github/workflows/ci.yml
  tasks/todo.md
Owners: none

ci: on Python <3.12, skip pip install -e . and install click; run tests from src (package requires >=3.12)
  .github/workflows/ci.yml
  tasks/todo.md
Owners: none

ci(unit): run Unit Tests on Python 3.12 (package requires >=3.12)
  .github/workflows/unit.yml
  tasks/todo.md
Owners: none

chore(submodule): update llm-observability-suite to include build-system in pyproject
  tasks/todo.md
Owners: none

ci(e2e-build/docker): checkout submodules for Docker build context so external/llm-observability-suite installs
  .github/workflows/e2e_build.yml
  tasks/todo.md
Owners: none

refactor(poml): centralize env model lookup via _env_model(); reduce duplication and keep behavior consistent
  src/story_engine/poml/poml/lib/poml_integration.py
  tasks/todo.md
Owners: @engine-team

refactor(orchestrator): make single-flight truncation lengths constants (SF_SYSTEM_SNIPPET_LEN=64, SF_PROMPT_SNIPPET_LEN=128)
  src/story_engine/core/core/orchestration/llm_orchestrator.py
  tasks/todo.md
Owners: none

ci: add tests-fast compatibility workflow (3.11/3.12/3.13) to satisfy required checks
  .github/workflows/tests-fast.yml
  tasks/todo.md
Owners: none

ci: align check-run names with branch protection (workflow name CI; job name 'tests-fast (<py>)')
  .github/workflows/tests-fast.yml
  tasks/todo.md
Owners: none

ci: drop Python 3.11 from tests-fast; run matrix on 3.12 and 3.13 only
  .github/workflows/ci.yml
  .github/workflows/tests-fast.yml
  tasks/todo.md
Owners: none

ci(tests-fast): add env/deps diagnostics; run pytest -vv --maxfail=1 for clearer failure logs
  .github/workflows/tests-fast.yml
  tasks/todo.md
Owners: none

ci(tests-fast): install pytest-xdist to support -n/--dist=loadfile
  .github/workflows/tests-fast.yml
  tasks/todo.md
Owners: none

ci: exclude acceptance/oracle in tests-fast; force DB_TYPE=sqlite to avoid external DB deps
  .github/workflows/ci.yml
  tasks/todo.md
Owners: none

ci: make artifact name unique per matrix/run to avoid 409 Conflict (append python-version/job/run_attempt)
  .github/workflows/ci.yml
  tasks/todo.md
Owners: none

.github/CODEOWNERS:

# Code owners for auto-review routing

# Engine and POML integration
/src/story_engine/poml/poml/lib/* @engine-team
/src/story_engine/poml/poml/integration/* @orchestrator-team

# Templates
/src/story_engine/poml/poml/templates/** @templates-team

# Tests
/tests/** @qa-team
